extends layout

block content
  div(class='carousel slide', data-ride='carousel')
    div(class='carousel-inner')
      div(class='item active')
        img(src='/images/rack-house.jpg', class='img-responsive')
        div(class='carousel-caption')
          p(class='multiline-caption')
            span(style='font-size: 60px;') Too much
            span(style='font-size: 50px;') of anything
          p(class='multiline-caption')
            span(style='font-size: 42px;') is
            span(style='font-size: 60px;') bad
            span(style='font-size: 46px;') , but
            span(style='font-size: 54px;') too much
          p(class='multiline-caption')
            span(style='font-size: 54px;') good
            span(style='font-size: 60px;') whiskey
            span(style='font-size: 42px;') is
          p(class='multiline-caption')
            span(style='font-size: 50px;') barely
            span(style='font-size: 60px;') enough.”
          p(style='font-size: 44px;', class='multiline-caption') Mark Twain

  div(class='container')
    div(class='row')
      div(class='col-md-6')
        h1 Find a Whiskey
        form
          input(type='text')

      div(class='col-md-6')
        h1 Add a Whiskey
        form
          input(type='text')
