extends layout

block content
  div(class='carousel slide', data-ride='carousel')
    div(class='carousel-inner')
      div(class='item active')
        img(src='/images/rack-house.jpg', class='img-responsive')
        div(class='carousel-caption')
          p(class='multiline-caption')
            span(style='font-size: 60px;') Too much
            span(style='font-size: 50px;') of anything
            span(style='font-size: 42px;') is
            span(style='font-size: 60px;') bad,
          p(class='multiline-caption')
            span(style='font-size: 58px;') but
            span(style='font-size: 48px;') too much
            span(style='font-size: 60px;') good whiskey
            span(style='font-size: 42px;') is
          p(class='multiline-caption')
            span(style='font-size: 50px;') barely
            span(style='font-size: 60px;') enough.”
          p(style='font-size: 44px;', class='multiline-caption') - Mark Twain
