extends layout

block content
  nav(class='navbar navbar-fixed-top green')
    div(class='container')
      div(class='navbar-header')
        button(type='button' class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span(class='sr-only') Toggle navigation
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='navbar-brand', href='#')
          span(class='brand-title', style='float: left;') #{title}
          img(src='/images/favicon-32x32.png')
      div(id="navbar", class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href='/find') Find a Whiskey
          li()
            a(href="/add") Add a Whiskey
        ul(class="nav navbar-nav navbar-right")
          - if (req.session.auth)
            li
              a(href="/favorites") My Favorites
            li
              img(src="#{req.session.auth.github.user.avatar_url}", width="48")
          - else
            li
              a(href="/auth/github") Sign In with Github

  div(class='container')
  div(class='hero')
    div(class='col-md-6')
      p Welcome to #{title} from instance '#{instanceId}'
    div(class='col-md-6')
      p Now what?
