doctype html
html
  head
    title= title
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  body(class='chocolate')
    header
      nav(class='navbar navbar-fixed-top green')
        div(class='container')
          div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand', href='/')
              span(class='brand-title', style='float: left;') Whizkey
              img(src='/images/favicon-32x32.png')
          div(id="navbar", class="navbar-collapse collapse")
            - if (everyauth.loggedIn)
              ul(class="nav navbar-nav")
                li(class="active")
                  a(href='/find') Find a Whiskey
                li()
                  a(href="/add") Add a Whiskey
            ul(class="nav navbar-nav navbar-right")
              - if (everyauth.loggedIn)
                li
                  a(href="/myfavorites") My Favorites
                - if (req.session.auth.github.user)
                  li
                    img(src='#{req.session.auth.github.user.avatar_url}', width='48')
              - else
                li
                  a(href="/auth/github") Sign In with Github

    div(class='container')
      block content

    footer(class='text-center')
      nav(class='navbar navbar-fixed-bottom green')
        div(class='container')
          div(id="navbar", class="navbar-collapse collapse")
            ul(class='nav navbar-nav')
              li(class='active') &copy; 2015 AppFog v2 Demo
            ul(class="nav navbar-nav navbar-right")
              li(class='nav navbar-nav')
                span(class='brand-title', style='float: left;') Whizkey

    script(type='text/javascript', src="//code.jquery.com/jquery-1.11.2.min.js")
    script(type='text/javascript', src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
