body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.green {
  background: #00853f;
  color: #fff;
}

.green a {
  color: #fff;
  text-decoration: none;
}
