@font-face {
  font-family: Elegante-Regular;
  src: url(/fonts/Elegante-Regular.ttf);
}

@font-face {
  font-family: talldark;
  src: url(/fonts/talldark.ttf);
}

body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

.chocolate {
  background-color: #D3A46E;
}

.carousel-caption {
  font-family: talldark;
  background: #252525;
  opacity: 0.8;
}

.multiline-caption {
  margin: 0;
}

.multiline-caption span {
  margin-left: 10px;
}

a {
  color: #00B7FF;
}

.brand-title {
  font-size: 2.0em;
}

.navbar-brand span {
  color: #fff;
}

.green {
  font-family: "Elegante-Regular";
  font-size: 1.4em;
  background: #7B3F00;
  color: #fff;
}

.green a {
  font-family: "Elegante-Regular";
  color: #fff;
  text-decoration: none;
}

.white {
  background-color: #dcdcdc;
}

.whizkey-name {
  font-family: 'Elegante-Regular';
  font-size: 1.2em;
  font-weight: bold;
  width: 200px;
}

.whizkey-description {

}
